rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /USER_PREFERENCES/{userId}/{documents=**} {
      allow read: if request.auth != null && request.auth.uid == userId
    }
  }
}
